body {
    /* background-color: aqua; */
    background-image: url("/assets/images/superherobackground.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    height: 100%;
}
.gameDiv{
    width: 75%;
    
}
.gameDiv{
    position:absolute;
    width:75%;
    height:auto;
    left: 36%;
    top: 25%;
    color: blue ;
    
}